<Configuration>
  <MappedFolders>
    <MappedFolder>
      <HostFolder>%CurrentDirectory%\Equipments</HostFolder>
      <ReadOnly>true</ReadOnly>
    </MappedFolder>
    <MappedFolder>
      <HostFolder>%CurrentDirectory%\DMZ</HostFolder>
      <ReadOnly>false</ReadOnly>
    </MappedFolder>
  </MappedFolders>
  <LogonCommand>
    <Command>C:\Users\WDAGUtilityAccount\Desktop\Equipments\Startup.bat</Command>
  </LogonCommand>
</Configuration>